Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

.gitlab-ci.yml:

stages:
  - build
  - test

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
      - cache-ci/
  before_script:
    - yarn config set cache-folder cache-ci
  script:
    - cd front/
    - yarn
    - yarn lint
    - yarn prettier --check
    - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
      junit: front/src/junit_karma.xml
  only:
    refs:
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - front/**/*

.build_docker_image: &build_docker_image
  image: docker:stable
  services:
    - docker:19.03.11-dind
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build -t registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG -f ${BASE_DIR:-$CONTAINER}/$DOCKERFILE ${BASE_DIR:-$CONTAINER}
    - docker tag registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG

build:ci_test:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: ci-test
    DOCKERFILE: Dockerfile.ci
    BASE_DIR: front

build:tiles-cleaner:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles-cleaner/**/*
  variables:
    CONTAINER: tiles-cleaner
    DOCKERFILE: Dockerfile

build:postgis:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - postgis/**/*
  variables:
    CONTAINER: postgis
    DOCKERFILE: Dockerfile

build:imposm:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm/**/*
  variables:
    CONTAINER: imposm
    DOCKERFILE: Dockerfile

build:imposm-watcher:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm-watcher/**/*
  variables:
    CONTAINER: imposm-watcher
    DOCKERFILE: Dockerfile

build:back:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - back/**/*
  variables:
    CONTAINER: back
    DOCKERFILE: Dockerfile

build:tiles:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles/**/*
  variables:
    CONTAINER: tiles
    DOCKERFILE: Dockerfile

build:front:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: front
    DOCKERFILE: Dockerfile.prod

fix(back): ignore some tags/values for simplified tags
  back/batimap/batimap.py
Due: build:back

docs: update README.md
  README.md
Due: none

chore(deps): update dependency celery to v4.4.7
  back/requirements.txt
Due: build:back

fix(deps): update angular to v10.1.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix: change deprecated option of pip to new one
  imposm-watcher/Dockerfile
Due: build:imposm-watcher

fix(deps): update angular to v10.0.8
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(back): ignore small city
  back/batimap/batimap.py
Due: build:back

fix(deps): update angular to v10.1.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

refactor: use db as others extensions
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/extensions.py
  back/batimap/tasks/common.py
Due: build:back

fix(deps): update angular to v10.0.9
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma-jasmine to v4
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma-jasmine to v4.0.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency @asymmetrik/ngx-leaflet to v8.1.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency zone.js to v0.11.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency pretty-quick to v2.0.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.5.13
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency pretty-quick to v3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency sqlalchemy to v1.3.19
  back/requirements.txt
Due: build:back

chore(deps): update dependency prettier to v2.1.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.12
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore: rename variable
  back/batimap/db.py
Due: build:back

fix(back): handle down overpass instances
  back/batimap/db.py
  back/batimap/overpass.py
  front/src/app/pipes/sorted.pipe.ts
Due: test:front, build:ci_test, build:back, build:front

fix(front): sort nodes by id
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/department-details-dialog/department-details-dialog.component.html
  front/src/app/components/department-details-dialog/department-details-dialog.component.ts
  front/src/app/pipes/legend.pipe.ts
  front/src/app/pipes/pipes.module.ts
  imposm/entrypoint.sh
Due: test:front, build:ci_test, build:imposm, build:front

fix(imposm): load all tags to properly compute simplified buildings
  imposm/mapping.json
Due: build:imposm

chore(deps): update dependency prettier to v2.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.14
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.5.14
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(docker): do not expose postgis by default
  docker-compose.override.yml
  docker-compose.yml
Due: none

chore(deps): update dependency ts-node to v9
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v5.2.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v13.13.16
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v5.2.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front
