Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

Path conditions:
  test:front:buildprod: any of: .gitlab-ci.yml, front/**/*
  test:front: any of: .gitlab-ci.yml, front/**/*
  test:back: any of: .gitlab-ci.yml, back/**/*
  build:ci_test_front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test_back: any of: .gitlab-ci.yml, back/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*

feat(back): add url in log
  back/batimap/odcadastre.py
Due: test:back, build:ci_test_back, build:back

fix(back): handle 97x depts
  back/batimap/odcadastre.py
Due: test:back, build:ci_test_back, build:back

feat: add flower
  back/Pipfile
  back/Pipfile.lock
  docker-compose.override.yml
  docker-compose.yml
Due: test:back, build:ci_test_back, build:back

feat(back): add application name to ease debugging
  back/app-docker.conf
Due: test:back, build:ci_test_back, build:back

fix: use fixed version of pipenv to avoid issue with lock -r
  back/Dockerfile
  back/Dockerfile.ci
  imposm-watcher/Dockerfile
Due: test:back, build:ci_test_back, build:imposm-watcher, build:back

feat: add pre-commit config file
  .pre-commit-config.yaml
Due: none

chore(back): split routes per entity
  back/Pipfile.lock
  back/batimap/api/__init__.py
  back/batimap/api/bbox.py
  back/batimap/api/cities.py
  back/batimap/api/departments.py
  back/batimap/api/initdb.py
  back/batimap/api/insee.py
  back/batimap/api/insees.py
  back/batimap/api/legend.py
  back/batimap/api/routes.py
  back/batimap/api/status.py
  back/batimap/api/tasks.py
  back/batimap/app.py
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/extensions.py
  back/batimap/odcadastre.py
  back/batimap/overpass.py
  back/batimap/tasks/common.py
  back/batimap/tasks/utils.py
  back/tests/conftest.py
  back/tests/test_db.py
  back/tests/test_odcadastre.py
  imposm-watcher/app.py
Due: test:back, build:ci_test_back, build:imposm-watcher, build:back

fix(ci): update syntax for reports
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

feat(back): add mypy
  .pre-commit-config.yaml
  back/Pipfile
  back/Pipfile.lock
  back/batimap/api/bbox.py
  back/batimap/api/cities.py
  back/batimap/api/departments.py
  back/batimap/api/insee.py
  back/batimap/api/insees.py
  back/batimap/batimap.py
  back/batimap/db.py
  back/batimap/odcadastre.py
  back/mypy.ini
  back/tests/test_routes.py
Due: test:back, build:ci_test_back, build:back

fixup! fix(ci): update syntax for reports
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

feat(imposm): use minute update server by default
  imposm/config.json
Due: build:imposm

fix(flake8): remove invalid files prefix
  .pre-commit-config.yaml
Due: none

fix(mypy): finalize configuration
  back/Pipfile
  back/Pipfile.lock
  back/batimap/api/insee.py
  back/batimap/api/tasks.py
  back/batimap/db.py
  back/mypy.ini
Due: test:back, build:ci_test_back, build:back

chore(deps): update angular group
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/jasmine to v3.10.6
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma-chrome-launcher to v3.1.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front
