Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
  ...

build:ci_test:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(deps): update dependency @types/node to v13.13.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency redis to v3.5.3
  back/requirements.txt
Due: build:back

chore(deps): update dependency sqlalchemy to v1.3.17
  back/requirements.txt
Due: build:back

fix(deps): update dependency protractor to v7
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency beautifulsoup4 to v4.9.1
  back/requirements.txt
Due: build:back

chore(deps): update dependency lxml to v4.5.1
  back/requirements.txt
Due: build:back

chore(deps): update dependency flask_sqlalchemy to v2.4.3
  back/requirements.txt
Due: build:back

chore(deps): update dependency gevent to v20.6.0
  back/requirements.txt
Due: build:back

chore(deps): update dependency @types/node to v13.13.11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v13.13.12
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular monorepo to v9.1.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency geoalchemy2 to v0.8.3
  back/requirements.txt
Due: build:back

chore(deps): update dependency celery to v4.4.5
  back/requirements.txt
Due: build:back

fix(deps): update angular monorepo to v9.1.11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update angularcli monorepo
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency @asymmetrik/ngx-leaflet to v7.0.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v5.1.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat: improve logging
  tiles-cleaner/entrypoint.sh
Due: build:tiles-cleaner

chore(deps): update dependency gevent to v20.6.2
  back/requirements.txt
Due: build:back

chore(deps): update dependency geoalchemy2 to v0.8.4
  back/requirements.txt
Due: build:back

chore(deps): update dependency requests to v2.24.0
  back/requirements.txt
  imposm-watcher/requirements.txt
Due: build:imposm-watcher, build:back

chore(deps): update dependency @types/jasmine to v3.5.11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update docker docker tag to v19.03.12
  .gitlab-ci.yml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(deps): update dependency apexcharts to v3.19.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(back): remove unused column
  back/batimap/batimap.py
  back/batimap/db.py
Due: build:back

fix(back): properly parse date
  back/batimap/batimap.py
  tiles-cleaner/entrypoint.sh
Due: build:tiles-cleaner, build:back

chore(deps): update dependency celery to v4.4.6
  back/requirements.txt
Due: build:back

chore(deps): update dependency sqlalchemy to v1.3.18
  back/requirements.txt
Due: build:back

chore(deps): update dependency watchdog to v0.10.3
  imposm-watcher/requirements.txt
Due: build:imposm-watcher

fix(renovate): put all angular update in single PR
  renovate.json
Due: none

chore(deps): update dependency @types/leaflet to v1.5.13
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency rxjs to v6.6.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v13.13.13
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/leaflet to v1.5.15
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency codelyzer to v6
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Update about-dialog.component.html
  front/src/app/components/about-dialog/about-dialog.component.html
Due: test:front, build:ci_test, build:front

Update dependency @types/node to v13.13.14
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Update dependency @types/leaflet to v1.5.16
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Path conditions:
  test:front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test: any of: .gitlab-ci.yml, front/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
