Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:buildprod:
  image: registry.gitlab.com/bagage/batimap/ci-test-front
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn build --prod

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test-front
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config karma-ci.conf.js
  artifacts:
    reports:
  ...

test:back:
  image: registry.gitlab.com/bagage/batimap/ci-test-back
  stage: test
  services:
  - name: registry.gitlab.com/bagage/batimap/postgis
    alias: postgis
  - name: redis:5-alpine
    alias: redis
  variables:
    POSTGRES_DB: testdb
    POSTGRES_USER: test
    POSTGRES_PASSWORD: batimap
  ...

build:ci_test_front:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:ci_test_back:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:20.10.7-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(deps): update dependency psycopg2 to v2.9.2
  back/Pipfile
Due: test:back, build:ci_test_back, build:back

chore(deps): update dependency beautifulsoup4 to v4.10.0
  back/Pipfile
Due: test:back, build:ci_test_back, build:back

chore(deps): update dependency gevent to v21.8.0
  back/Pipfile
Due: test:back, build:ci_test_back, build:back

feat: group angular&rxjs
  renovate.json
Due: none

chore(deps): update dependency lxml to v4.6.4
  back/Pipfile
Due: test:back, build:ci_test_back, build:back

chore(deps): update docker docker tag to v20.10.10
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update dependency @types/node to v16
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update postgis/postgis docker tag to v14
  postgis/Dockerfile
Due: build:postgis

Revert "chore(deps): update postgis/postgis docker tag to v14"
  postgis/Dockerfile
Due: build:postgis

chore: remove husky pre-push
  front/.husky/pre-push
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/leaflet to v1.7.6
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma to v6.3.9
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency pretty-quick to v3.1.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update docker docker tag to v20.10.11
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update dependency @types/node to v16.11.9
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix: build images on MR too
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(front): use node 16
  front/Dockerfile
  front/Dockerfile.ci
  front/Dockerfile.prod
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(front): rename Dockerfiles
  .gitlab-ci.yml
  docker-compose.override.yml
  front/Dockerfile
  front/Dockerfile.dev
  front/Dockerfile.prod
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

feat: group some packages update
  renovate.json
Due: none

fix(deps): update dependency apexcharts to v3.30.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

feat: group some packages update2
  renovate.json
Due: none

fix(deps): update dependency class-transformer to v0.5.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v16.11.10
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency prettier to v2.5.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency apexcharts to v3.31.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v16.11.11
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency core-js to v3.19.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v37.1.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency ng-apexcharts to v1.6.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency prettier to v2.5.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency core-js to v3.19.3
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v16.11.12
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency apexcharts to v3.32.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix: use ignored cities on lucky filter
  back/batimap/api/routes.py
  back/batimap/db.py
  back/tests/test_routes.py
  front/src/app/services/batimap.service.ts
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:back, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(back): reuse predefined variables
  back/batimap/tasks/utils.py
Due: test:back, build:ci_test_back, build:back

fix(back): avoid division by 0
  back/batimap/db.py
Due: test:back, build:ci_test_back, build:back

feat(ci): always use color for pytest
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

Fix missing variable 'e'
  josm-scripts/B-conflation.js
Due: none

fix(back): lock broken dep
  back/Pipfile
  back/Pipfile.lock
Due: test:back, build:ci_test_back, build:back

Path conditions:
  test:front:buildprod: any of: .gitlab-ci.yml, front/**/*
  test:front: any of: .gitlab-ci.yml, front/**/*
  test:back: any of: .gitlab-ci.yml, back/**/*
  build:ci_test_front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test_back: any of: .gitlab-ci.yml, back/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
