Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
  ...

build:ci_test:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(deps): update python docker tag to v3.9
  back/Dockerfile
  imposm-watcher/Dockerfile
Due: build:imposm-watcher, build:back

feat(renovate): add github token
  back/Dockerfile
  renovate.json
Due: build:back

chore(deps): update dependency celery to v5
  back/requirements.txt
Due: build:back

fix(josm): always create OSM layer even if data download fails
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v11.0.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(front): display overpass query in case of too big city #70
  front/angular.json
  front/src/alerts.css
  front/src/app/app.module.ts
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/services/josm.service.ts
  front/src/styles.css
  front/tslint.json
Due: test:front, build:ci_test, build:front

fix(front): use city name instead of insee for overpass query
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency core-js to v3.8.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(front): add missing marker icon
  front/angular.json
Due: test:front, build:ci_test, build:front

fix(josm): download osm data in expected layer
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

Revert "Merge branch 'bagage-master-patch-79985' into 'master'"
  .gitlab-ci.yml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix: handle import_date from previous fetch
  back/batimap/tasks/common.py
Due: build:back

feat(back): put French overpass instance in last position since unstable
  back/batimap/overpass.py
Due: build:back

Update batimap.py
  back/batimap/batimap.py
Due: build:back

feat(back): ignore another city
  back/batimap/batimap.py
Due: build:back

feat(front): add template type checking
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/department-details-dialog/department-details-dialog.component.html
  front/src/app/components/department-details-dialog/department-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.html
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/pages/map/map.component.html
  front/src/app/pipes/any.pipe.ts
  front/src/app/pipes/map.pipe.ts
  front/src/app/pipes/pipes.module.ts
  front/src/app/services/josm.service.ts
  front/tsconfig.base.json
Due: test:front, build:ci_test, build:front

fix(front): add missing href attribute
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/department-details-dialog/department-details-dialog.component.html
Due: test:front, build:ci_test, build:front

feat(front): allow to download big cities via overpass directly (fix #73)
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/howto-dialog/howto-dialog.component.html
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

fix(back): use merged city instead of original one (fix #76)
  back/batimap/db.py
Due: build:back

fix(front): only visible cities should be interactive (fix #75)
  front/src/app/pages/map/map.component.ts
Due: test:front, build:ci_test, build:front

feat(front): allow to unignore cities (#74)
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
Due: test:front, build:ci_test, build:front

fix(front): display ignored cities via legend (fix #74)
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.html
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/pages/map/map.component.ts
  front/src/app/services/batimap.service.ts
  front/src/app/services/legend.service.ts
Due: test:front, build:ci_test, build:front

feat: format with black too
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/batimap.py
  back/batimap/bbox.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/overpass.py
  back/batimap/tasks/common.py
  back/batimap/timeit.py
  front/package.json
  imposm-watcher/app.py
Due: test:front, build:ci_test, build:imposm-watcher, build:back, build:front

docs(back): update documentation according to source code
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/tasks/common.py
Due: build:back

chore(back): remove duplicate value
  back/batimap/batimap.py
Due: build:back

feat(back): add cadastre stats
  .gitlab-ci.yml
  back/Dockerfile
  back/Pipfile
  back/Pipfile.lock
  back/batimap/app.conf
  back/batimap/app.py
  back/batimap/batimap.py
  back/batimap/citydto.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/extensions.py
  back/batimap/odcadastre.py
  back/requirements.txt
  back/tests/__init__.py
  back/tests/conftest.py
  back/tests/test_odcadastre.py
  imposm-watcher/Dockerfile
  imposm-watcher/Pipfile
  imposm-watcher/Pipfile.lock
  imposm-watcher/requirements.txt
  tiles/config.toml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

Disable possibility of uploading the two created layers inside JOSM
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

chore(docs): remove jetbrains reference
  README.md
Due: none

fix(tiles): update config for cadastre stats
  tiles-cleaner/config.toml
  tiles/config.toml
Due: build:tiles-cleaner, build:tiles

chore(back): log number of buildings on import update
  back/batimap/batimap.py
  back/batimap/cli/app.py
Due: build:back

feat(imposm): update version 0.10.0 -> 0.11.1
  imposm/Dockerfile
Due: build:imposm

feat: display cadastre stats in front
  back/batimap/batimap.py
  back/batimap/citydto.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/odcadastre.py
  back/batimap/tasks/common.py
  back/tests/test_odcadastre.py
  front/src/app/classes/city.dto.ts
  front/src/app/components/city-details-dialog/city-details-dialog.component.css
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/components/josm-button/josm-button.component.spec.ts
  front/src/app/pages/map/map.component.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
  front/src/app/pipes/pipes.module.ts
  front/tslint.json
  tiles-cleaner/config.toml
  tiles/config.toml
Due: test:front, build:ci_test, build:tiles-cleaner, build:back, build:tiles, build:front

fix(back): do not count buildings twice due to geometry duplication
  back/batimap/db.py
Due: build:back

Move handling of overpass for josm inside the service
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

chore(front): fix compilation
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

docs(back): add log on app ready
  README.md
  back/entrypoint.sh
Due: build:back

feat(back): add log
  back/batimap/cli/app.py
Due: build:back

Path conditions:
  test:front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test: any of: .gitlab-ci.yml, front/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
