Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

Path conditions:
  test:front:buildprod: any of: .gitlab-ci.yml, front/**/*
  test:front: any of: .gitlab-ci.yml, front/**/*
  test:back: any of: .gitlab-ci.yml, back/**/*
  build:ci_test_front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test_back: any of: .gitlab-ci.yml, back/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*

chore(deps): update typescript-eslint monorepo to v4.32.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v14.17.20
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update docker docker tag to v20.10.9
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update dependency @types/node to v14.17.21
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency core-js to v3.18.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update python docker tag to v3.10
  back/Dockerfile
  back/Dockerfile.ci
  imposm-watcher/Dockerfile
Due: test:back, build:ci_test_back, build:imposm-watcher, build:back

chore(deps): update typescript-eslint monorepo to v4.33.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v14.17.27
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma to v6.3.5
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v14.17.29
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/jasmine to v3.10.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency eslint-plugin-import to v2.25.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v14.17.32
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma to v6.3.6
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency core-js to v3.19.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency jasmine-core to v3.10.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency ts-node to v10.4.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency apexcharts to v3.29.0
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma to v6.3.7
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/jasmine to v3.10.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma-firefox-launcher to v2.1.2
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency core-js to v3.19.1
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency karma to v6.3.8
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency @types/node to v14.17.33
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency eslint-plugin-import to v2.25.3
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v37
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

fix(deps): update dependency leaflet-search to v3
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore(deps): update dependency husky to v7
  front/package.json
  front/yarn.lock
Due: test:front:buildprod, test:front, build:ci_test_front, build:front

chore: reformat
  back/Pipfile.lock
Due: test:back, build:ci_test_back, build:back

feat: add comment
  back/wait-for-it.sh
Due: test:back, build:ci_test_back, build:back

feat(renovate): group flask
  renovate.json
Due: none

fix(ci): do not rely on system dependency for psycopg2
  .gitlab-ci.yml
Due: test:front:buildprod, test:front, test:back, build:ci_test_front, build:ci_test_back, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update redis docker tag to v6
  docker-compose.yml
Due: none

fix: use python3.10
  back/Pipfile
  imposm-watcher/Pipfile
Due: test:back, build:ci_test_back, build:imposm-watcher, build:back

fix: update Pipfile.lock files too
  back/Pipfile.lock
  imposm-watcher/Pipfile.lock
Due: test:back, build:ci_test_back, build:imposm-watcher, build:back

fix(docker): add missing binary
  back/Dockerfile
Due: test:back, build:ci_test_back, build:back

fix: rollback to 3.9 for back
  back/Dockerfile
  back/Dockerfile.ci
  back/Pipfile
  back/Pipfile.lock
Due: test:back, build:ci_test_back, build:back

fix: add missing dep for black
  back/Pipfile
  back/Pipfile.lock
Due: test:back, build:ci_test_back, build:back

chore(deps): update dependency requests to v2.26.0
  back/Pipfile
Due: test:back, build:ci_test_back, build:back
