Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

.gitlab-ci.yml:

stages:
  - build
  - test

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
      - cache-ci/
  before_script:
    - yarn config set cache-folder cache-ci
  script:
    - cd front/
    - yarn
    - yarn lint
    - yarn prettier --check
    - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
      junit: front/src/junit_karma.xml
  only:
    refs:
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - front/**/*

.build_docker_image: &build_docker_image
  image: docker:stable
  services:
    - docker:19.03.11-dind
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build -t registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG -f ${BASE_DIR:-$CONTAINER}/$DOCKERFILE ${BASE_DIR:-$CONTAINER}
    - docker tag registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG

build:ci_test:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: ci-test
    DOCKERFILE: Dockerfile.ci
    BASE_DIR: front

build:tiles-cleaner:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles-cleaner/**/*
  variables:
    CONTAINER: tiles-cleaner
    DOCKERFILE: Dockerfile

build:postgis:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - postgis/**/*
  variables:
    CONTAINER: postgis
    DOCKERFILE: Dockerfile

build:imposm:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm/**/*
  variables:
    CONTAINER: imposm
    DOCKERFILE: Dockerfile

build:imposm-watcher:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm-watcher/**/*
  variables:
    CONTAINER: imposm-watcher
    DOCKERFILE: Dockerfile

build:back:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - back/**/*
  variables:
    CONTAINER: back
    DOCKERFILE: Dockerfile

build:tiles:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles/**/*
  variables:
    CONTAINER: tiles
    DOCKERFILE: Dockerfile

build:front:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: front
    DOCKERFILE: Dockerfile.prod

feat(ci): add back CI image
  .gitlab-ci.yml
  back/Dockerfile.ci
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(back): update lucky query to properly return most urging cities first
  back/batimap/db.py
Due: build:back

feat(back): add sentry
  back/Pipfile
  back/Pipfile.lock
  back/batimap/app.py
  front/src/app/pages/map/map.component.ts
Due: test:front, build:ci_test, build:back, build:front

feat: improve background tasks handling
  back/batimap/api/routes.py
  back/batimap/batimap.py
  back/batimap/citydto.py
  back/batimap/odcadastre.py
  back/batimap/taskdto.py
  back/batimap/tasks/common.py
  back/batimap/tasks/utils.py
  docker-compose.yml
  front/src/app/app.module.ts
  front/src/app/classes/task.dto.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/pages/map/map.component.css
  front/src/app/pages/map/map.component.html
  front/src/app/pages/map/map.component.ts
  front/src/app/pages/pages.module.ts
  front/src/app/pages/tasks/tasks.component.css
  front/src/app/pages/tasks/tasks.component.html
  front/src/app/pages/tasks/tasks.component.spec.ts
  front/src/app/pages/tasks/tasks.component.ts
  front/src/app/pages/tasks/tasks.module.ts
  front/src/app/services/batimap.service.ts
  tiles-cleaner/entrypoint.sh
Due: test:front, build:ci_test, build:tiles-cleaner, build:back, build:front

fix(tiles): avoid duplicate tiles zoom
  tiles-cleaner/config.toml
  tiles/config.toml
Due: build:tiles-cleaner, build:tiles

feat(back): add black devdep
  back/Pipfile
  back/Pipfile.lock
  back/batimap/api/routes.py
  back/batimap/batimap.py
Due: build:back

chore(back): add flake8 and vscode conf
  .flake8
  .gitignore
  .gitlab-ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  back/Pipfile
  back/Pipfile.lock
  back/batimap/api/routes.py
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/odcadastre.py
  back/batimap/overpass.py
  back/batimap/taskdto.py
  back/batimap/timeit.py
  front/package.json
  imposm-watcher/app.py
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(back): avoid OOM when parsing OD cadastre
  back/.gitignore
  back/Pipfile
  back/Pipfile.lock
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/odcadastre.py
  front/src/app/pages/tasks/tasks.component.html
Due: test:front, build:ci_test, build:back, build:front

feat(front): handle buildings ratio
  front/src/app/components/map-date-legend/map-date-legend.component.css
  front/src/app/components/map-date-legend/map-date-legend.component.html
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/pages/map/map.component.ts
  front/src/app/pages/map/map.module.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
  front/src/app/pipes/pipes.module.ts
  front/tslint.json
Due: test:front, build:ci_test, build:front

fix(back): properly count buildings per city
  back/batimap/batimap.py
  back/batimap/db.py
  docker-compose.override.yml
Due: build:back

fix(back): do not query OD cadastre multiple times
  .vscode/settings.json
  back/batimap/cli/app.py
  back/batimap/db.py
  back/batimap/odcadastre.py
  back/tests/test_odcadastre.py
Due: build:back

fix(front): display ratio even if zero
  back/batimap/odcadastre.py
  front/src/app/components/city-details-dialog/city-details-dialog.component.html
  front/src/app/pages/map/map.component.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
Due: test:front, build:ci_test, build:back, build:front

fix(front): handle ratio for undefined
  front/src/app/pages/map/map.component.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
Due: test:front, build:ci_test, build:front

feat(front): increase ratio for now
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
Due: test:front, build:ci_test, build:front

chore(front): remove unused imports
  front/src/app/components/map-date-legend/map-date-legend.component.ts
Due: test:front, build:ci_test, build:front

feat(back): add fast josm task and 2 separate celery queues
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/tasks/common.py
  docker-compose.yml
Due: build:back

chore(deps): update dependency @types/jasmine to v3.6.9
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(back): separate task method
  back/batimap/tasks/common.py
  docker-compose.override.yml
Due: build:back

feat(renovate): remove token
  renovate.json
Due: none

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

@angular/cli migration - tslint-version-6
  front/package.json
Due: test:front, build:ci_test, build:front

@angular/cli migration - remove-solution-style-tsconfig
  front/e2e/tsconfig.e2e.json
  front/src/tsconfig.app.json
  front/src/tsconfig.spec.json
  front/tsconfig.base.json
  front/tsconfig.json
Due: test:front, build:ci_test, build:front

@angular/cli migration - update-workspace-dependencies-v11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

@angular/cli migration - update-workspace-dependencies
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(front): add unsubscriber to module
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/components/shared-components.module.ts
  front/src/app/components/unsubscriber.ts
Due: test:front, build:ci_test, build:front

@angular/cli migration - workspace-version-9
  front/angular.json
  front/package.json
  front/src/tsconfig.app.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(front): remove leaflet type dep
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(renovate): do ng update for angular migrations
  renovate.json
Due: none

feat(front): remove selector
  front/src/app/classes/unsubscriber.ts
Due: test:front, build:ci_test, build:front

chore(front): update imports order
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.ts
Due: test:front, build:ci_test, build:front

fix(front): update d.ts
  front/src/typings/leaflet-geocoder-ban.d.ts
  front/src/typings/leaflet-hash.d.ts
  front/src/typings/leaflet.vectorgrid.d.ts
Due: test:front, build:ci_test, build:front

fix(front): skip first change event
  front/src/app/components/map-date-legend/map-date-legend.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): pin dependencies
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency celery to v5.0.5
  back/Pipfile
Due: build:back

chore(deps): update dependency prettier to v2.2.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

test(back): add route tests
  .gitlab-ci.yml
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/batimap.py
  back/batimap/db.py
  back/tests/conftest.py
  back/tests/docker-compose.yml
  back/tests/test_odcadastre.py
  back/tests/test_routes.py
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update docker docker tag to v19.03.15
  .gitlab-ci.yml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(front): update node version
  front/Dockerfile.ci
Due: test:front, build:ci_test, build:front

fix(front): remove ngcc invokation which is not required anymore
  front/.eslintrc.json
  front/package.json
Due: test:front, build:ci_test, build:front

chore(front): update deps
  front/angular.json
  front/package.json
  front/src/app/services/batimap.service.ts
  front/yarn.lock
Due: test:front, build:ci_test, build:front
