Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
  ...

build:ci_test:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(front): migrate to angular10
  front/e2e/tsconfig.e2e.json
  front/package.json
  front/src/app/classes/unsubscriber.ts
  front/src/tsconfig.app.json
  front/src/tsconfig.spec.json
  front/tsconfig.base.json
  front/tsconfig.json
  front/tslint.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): pin dependencies
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency lxml to v4.5.2
  back/requirements.txt
Due: build:back

chore: remove unnecessary simplified buildings filter
  back/batimap/batimap.py
  back/batimap/db.py
  back/batimap/overpass.py
Due: build:back

feat: add hstore column for buildings to allow filtering simplified buildings
  .env-example
  back/Dockerfile
  back/batimap/batimap.py
  back/batimap/db.py
  imposm/Dockerfile
  imposm/mapping.json
  tiles-cleaner/entrypoint.sh
Due: build:tiles-cleaner, build:imposm, build:back

chore: change default region
  .env-example
Due: none

fix(back): declare required config parameters
  back/app-docker.conf
Due: build:back

fix(front): declare component as expected now
  front/src/app/classes/unsubscriber.ts
Due: test:front, build:ci_test, build:front

fix(back): do not skip some overpass servers
  back/batimap/overpass.py
Due: build:back

feat(back): automatically create migration file if needed
  back/batimap/tasks/common.py
Due: build:back

fix(deps): update dependency ng-apexcharts to v1.4.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency ng-apexcharts to v1.5.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.4
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(back): ignore small city
  back/batimap/batimap.py
Due: build:back

chore(deps): update dependency flask_sqlalchemy to v2.4.4
  back/requirements.txt
Due: build:back

fix(deps): update angular to v10.1.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/leaflet to v1.5.17
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.5
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v13.13.15
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency jasmine-core to v3.6.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(tiles): handle non integer zooms
  tiles-cleaner/config.toml
  tiles/config.toml
Due: build:tiles-cleaner, build:tiles

feat(back): ignore some simplified buildings
  back/batimap/batimap.py
Due: build:back

fix(deps): update angular to v10.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v5.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v10.0.6
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(back): ignore some values for simplified buildings
  back/batimap/batimap.py
Due: build:back

fix(deps): update dependency class-transformer to v0.3.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(back): ignore some values for city
  back/batimap/batimap.py
Due: build:back

fix(deps): update angular to v10.0.7
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency rxjs to v6.6.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency @asymmetrik/ngx-leaflet to v8
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(back): ignore some values for simplified tags
  back/batimap/batimap.py
Due: build:back

fix(deps): update dependency apexcharts to v3.20.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency ng-apexcharts to v1.5.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency tslint to v6.1.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.5.12
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Path conditions:
  test:front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test: any of: .gitlab-ci.yml, front/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
