Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

.gitlab-ci.yml:

stages:
  - build
  - test

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
      - cache-ci/
  before_script:
    - yarn config set cache-folder cache-ci
  script:
    - cd front/
    - yarn
    - yarn lint
    - yarn prettier --check
    - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
      junit: front/src/junit_karma.xml
  only:
    refs:
      - merge_requests
    changes:
      - .gitlab-ci.yml
      - front/**/*

.build_docker_image: &build_docker_image
  image: docker:stable
  services:
    - docker:19.03.11-dind
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build -t registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG -f ${BASE_DIR:-$CONTAINER}/$DOCKERFILE ${BASE_DIR:-$CONTAINER}
    - docker tag registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:latest
    - docker push registry.gitlab.com/bagage/batimap/$CONTAINER:$CI_COMMIT_REF_SLUG

build:ci_test:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: ci-test
    DOCKERFILE: Dockerfile.ci
    BASE_DIR: front

build:tiles-cleaner:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles-cleaner/**/*
  variables:
    CONTAINER: tiles-cleaner
    DOCKERFILE: Dockerfile

build:postgis:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - postgis/**/*
  variables:
    CONTAINER: postgis
    DOCKERFILE: Dockerfile

build:imposm:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm/**/*
  variables:
    CONTAINER: imposm
    DOCKERFILE: Dockerfile

build:imposm-watcher:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - imposm-watcher/**/*
  variables:
    CONTAINER: imposm-watcher
    DOCKERFILE: Dockerfile

build:back:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - back/**/*
  variables:
    CONTAINER: back
    DOCKERFILE: Dockerfile

build:tiles:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - tiles/**/*
  variables:
    CONTAINER: tiles
    DOCKERFILE: Dockerfile

build:front:
  <<: *build_docker_image
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - front/**/*
  variables:
    CONTAINER: front
    DOCKERFILE: Dockerfile.prod

chore(deps): update dependency husky to v6
  front/.husky/.gitignore
  front/.husky/pre-commit
  front/.husky/pre-push
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.41
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

use boolean instead of string
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

Always forbid downloading inside cadastre's layers
  front/src/app/services/josm.service.ts
Due: test:front, build:ci_test, build:front

feat(postgis): change base image
  docker-compose.override.yml
  postgis/Dockerfile
  postgis/hstore-extension.sh
  postgis/hstore-extension.sql
  postgis/postgres-dev.conf
Due: build:postgis

fix(front): do not disable josm button for prepare
  front/src/app/components/josm-button/josm-button.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): update dependency sqlalchemy to v1.4.8
  back/Pipfile
Due: build:back

chore(deps): update dependency jasmine-spec-reporter to v7
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat(postgis): add text index
  back/entrypoint.sh
  postgis/Dockerfile
  postgis/trgm-extension.sql
Due: build:postgis, build:back

feat(front): filter lucky by ratio too
  back/batimap/api/routes.py
  back/batimap/db.py
  back/tests/conftest.py
  back/tests/test_routes.py
  docker-compose.override.yml
  front/.husky/pre-commit
  front/.husky/pre-push
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/services/batimap.service.ts
Due: test:front, build:ci_test, build:back, build:front

fix(back): avoid rounding issue with ratio filtering
  back/batimap/batimap.py
  back/batimap/db.py
Due: build:back

fix(front): handle obsolete city 404 error
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/services/batimap.service.ts
Due: test:front, build:ci_test, build:front

fix(back): remove no building cities and instead use od_cadastre stats
  back/batimap/batimap.py
Due: build:back

fix(back): filter only if odcadastre available
  back/batimap/batimap.py
  back/batimap/odcadastre.py
Due: build:back

fix(back): add minimum threshold
  back/batimap/batimap.py
Due: build:back

fix(back): update field
  back/batimap/cli/app.py
Due: build:back

chore(deps): update angular to v2.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix: deactivate the button while checking for task
  front/src/app/components/josm-button/josm-button.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v32.3.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.6.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.43
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v32.3.4
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.6.11
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasminewd2 to v2.0.9
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.44
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(back): freeze smorest
  back/Pipfile
  back/Pipfile.lock
Due: build:back

chore(deps): update typescript-eslint monorepo to v4.23.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency core-js to v3.12.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.45
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency codelyzer to v6.0.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency apexcharts to v3.26.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update angular to v11.2.13
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency ng-apexcharts to v1.5.10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.17.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.7.6
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint to v7.27.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front
