Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
  ...

build:ci_test:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(deps): update dependency eslint-plugin-import to v2.23.4
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v6.3.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/leaflet to v1.7.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/jasmine to v3.7.7
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.17.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma-firefox-launcher to v2.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.17.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency ng-apexcharts to v1.5.12
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint to v7.28.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma-jasmine-html-reporter to v1.6.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

feat: allow to use custom region server
  .env-example
  back/batimap/tasks/common.py
  imposm/Dockerfile
  imposm/entrypoint.sh
Due: build:imposm, build:back

feat(back): remove migration file
  back/batimap/tasks/common.py
  front/src/app/components/josm-button/josm-button.component.ts
Due: test:front, build:ci_test, build:back, build:front

fix(deps): update dependency tslib to v2.3.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency ts-node to v10
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency apexcharts to v3.27.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update docker docker tag to v20
  .gitlab-ci.yml
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

chore(deps): update dependency prettier to v2.3.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency core-js to v3.14.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v35
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update typescript-eslint monorepo to v4.26.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency sqlalchemy to v1.4.18
  back/Pipfile
Due: build:back

fix(imposm): add missing check
  imposm/entrypoint.sh
Due: build:imposm

feat(tiles-cleaner): disable custom user for now
  tiles-cleaner/entrypoint.sh
Due: build:tiles-cleaner

fix(imposm-watcher): ignore tmp files
  imposm-watcher/app.py
Due: build:imposm-watcher

feat: do not regenerate all tiles everytime
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/tasks/common.py
  back/entrypoint.sh
  back/tests/test_cli.py
  tiles-cleaner/entrypoint.sh
Due: build:tiles-cleaner, build:back

fix: invert condition
  back/batimap/cli/app.py
  back/batimap/tasks/common.py
  back/tests/test_cli.py
Due: build:back

fix(back): avoid error
  .vscode/settings.json
  back/batimap/batimap.py
  back/batimap/tasks/common.py
  back/tests/conftest.py
  back/tests/docker-compose.yml
Due: build:back

chore(deps): update dependency @types/leaflet to v1.7.2
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v35.2.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency karma to v6.3.4
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v35.3.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(front): update base map
  front/src/app/pages/map/map.component.ts
Due: test:front, build:ci_test, build:front

fix(front): use https
  front/src/app/pages/map/map.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): update dependency pretty-quick to v3.1.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint to v7.29.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/leaflet to v1.7.3
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency core-js to v3.15.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency eslint-plugin-jsdoc to v35.4.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(deps): update dependency core-js to v3.15.1
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

Path conditions:
  test:front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test: any of: .gitlab-ci.yml, front/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
