Repository bagage/batimap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

test:front:
  image: registry.gitlab.com/bagage/batimap/ci-test
  stage: test
  cache:
    untracked: true
    paths:
    - cache-ci/
  before_script:
  - yarn config set cache-folder cache-ci
  script:
  - cd front/
  - yarn
  - yarn lint
  - yarn prettier --check
  - yarn test --karma-config src/karma-ci.conf.js
  artifacts:
    reports:
  ...

build:ci_test:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles-cleaner:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:postgis:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:imposm-watcher:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:back:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:tiles:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

build:front:
  image: docker:stable
  services:
  - docker:19.03.11-dind
  stage: build
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

chore(front): use eslint
  front/.eslintrc.json
  front/angular.json
  front/package.json
  front/quick-lint.sh
  front/src/app/app.component.ts
  front/src/app/classes/city.dto.ts
  front/src/app/classes/local-storage.ts
  front/src/app/classes/obsolete-city.dto.ts
  front/src/app/classes/task.dto.ts
  front/src/app/components/city-details-dialog/city-details-dialog.component.ts
  front/src/app/components/josm-button/josm-button.component.ts
  front/src/app/components/map-date-legend/map-date-legend.component.ts
  front/src/app/components/unsubscriber.ts
  front/src/app/pages/map/map.component.ts
  front/src/app/pipes/buildings-ratio.pipe.ts
  front/src/app/services/app-config.service.mock.ts
  front/src/app/services/batimap.service.ts
  front/src/app/services/http-error.interceptor.ts
  front/src/app/services/josm.service.ts
  front/src/main.ts
  front/src/typings/leaflet-geocoder-ban.d.ts
  front/src/typings/leaflet-hash.d.ts
  front/src/typings/leaflet.restoreview.d.ts
  front/src/typings/leaflet.vectorgrid.d.ts
  front/tslint.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

test(front): update test
  front/e2e/tsconfig.json
  front/src/app/classes/city.dto.spec.ts
  front/src/app/classes/city.dto.ts
  front/tsconfig.spec.json
Due: test:front, build:ci_test, build:front

chore(deps): update dependency watchdog to v0.10.6
  imposm-watcher/Pipfile
  imposm-watcher/Pipfile.lock
Due: build:imposm-watcher

chore(deps): pin dependencies
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency gevent to v20.12.1
  back/Pipfile
Due: build:back

chore(deps): update dependency flask-cors to v3.0.10
  back/Pipfile
Due: build:back

chore(deps): update dependency sqlalchemy to v1.4.7
  back/Pipfile
Due: build:back

chore(deps): update dependency flask-sqlalchemy to v2.5.1
  back/Pipfile
Due: build:back

chore(deps): update dependency eslint to v7.24.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency gunicorn to v20.1.0
  back/Pipfile
Due: build:back

chore(deps): update dependency geoalchemy2 to v0.8.5
  back/Pipfile
Due: build:back

feat(front): add browserlistrc
  front/.browserslistrc
Due: test:front, build:ci_test, build:front

fix(celery): Run celery and back as non root user to remove warning
  back/Dockerfile
Due: build:back

chore(back): update lockfile
  back/Pipfile.lock
Due: build:back

fix: do not run containers as root
  data/front/node_modules/.keep
  data/imposm/updated-tiles/.keep
  data/postgis/.keep
  data/tiles/cache/.keep
  docker-compose.override.yml
  docker-compose.yml
  front/Dockerfile
  imposm-watcher/Dockerfile
  imposm/Dockerfile
  tiles-cleaner/Dockerfile
  tiles/Dockerfile
Due: test:front, build:ci_test, build:tiles-cleaner, build:imposm, build:imposm-watcher, build:tiles, build:front

feat(back): update lock
  back/Pipfile.lock
  imposm-watcher/Pipfile
  imposm-watcher/Pipfile.lock
Due: build:imposm-watcher, build:back

fix(back): do not use dataclasses
  back/batimap/db.py
  back/batimap/odcadastre.py
  back/tests/test_db.py
  back/tests/test_odcadastre.py
Due: build:back

chore(deps): update angular to v2.1.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(front): reduce budget constraint a bit
  .gitlab-ci.yml
  front/.browserslistrc
  front/angular.json
  front/package.json
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(docker): do not define postgis user, not required
  data/postgis/.keep
  docker-compose.yml
Due: none

chore(deps): update typescript-eslint monorepo to v4.22.0
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

fix(docker): use same strategy as official image for non-root users
  back/Dockerfile
  back/entrypoint.sh
  docker-compose.override.yml
  docker-compose.yml
  front/Dockerfile
  imposm-watcher/Dockerfile
  imposm-watcher/entrypoint.sh
  imposm/Dockerfile
  imposm/entrypoint.sh
  tiles-cleaner/Dockerfile
  tiles-cleaner/entrypoint.sh
  tiles/Dockerfile
  tiles/entrypoint.sh
Due: test:front, build:ci_test, build:tiles-cleaner, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

fix(back): use jsonify instead of json.dumps
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/citydto.py
  back/batimap/db.py
  back/batimap/taskdto.py
  back/batimap/tasks/common.py
  back/tests/docker-compose.yml
  back/tests/test_routes.py
Due: build:back

fix(docker): set proper permissions for node too
  front/Dockerfile
  front/entrypoint.sh
Due: test:front, build:ci_test, build:front

chore: remove unrequired files
  data/front/node_modules/.keep
  data/imposm/updated-tiles/.keep
  data/tiles/cache/.keep
Due: none

test(back): add test for initdb
  back/batimap/batimap.py
  back/batimap/cli/app.py
  back/batimap/db.py
  back/entrypoint.sh
  back/tests/conftest.py
  back/tests/test_cli.py
  back/tests/test_db.py
  back/tests/test_routes.py
  docker-compose.override.yml
Due: build:back

fix(back): properly dump task response
  .gitlab-ci.yml
  back/batimap/api/routes.py
  back/batimap/app.py
  back/batimap/tasks/utils.py
  back/tests/conftest.py
  back/tests/docker-compose.yml
  back/tests/test_cli.py
  back/tests/test_routes.py
Due: test:front, build:ci_test, build:tiles-cleaner, build:postgis, build:imposm, build:imposm-watcher, build:back, build:tiles, build:front

feat(front): improve tasks component
  front/src/app/pages/map/map.component.css
  front/src/app/pages/tasks/tasks.component.html
  front/src/app/pages/tasks/tasks.component.ts
Due: test:front, build:ci_test, build:front

fix(back): count number of buildings for raster cities for proper ratio
  back/batimap/batimap.py
  back/batimap/db.py
Due: build:back

fix(front): use display:none for legend when hidden to avoid blank space
  front/src/app/pages/map/map.component.css
Due: test:front, build:ci_test, build:front

fix(back): do not use response at all
  back/batimap/api/routes.py
  back/batimap/tasks/common.py
Due: build:back

fix(back): abort josm for raster cities
  back/batimap/api/routes.py
  back/batimap/batimap.py
  back/batimap/odcadastre.py
  back/tests/conftest.py
  back/tests/test_cli.py
  back/tests/test_routes.py
  front/src/app/components/josm-button/josm-button.component.ts
Due: test:front, build:ci_test, build:back, build:front

fix: do not store buildings both as polygon and linestring
  back/batimap/db.py
  imposm/mapping.json
Due: build:imposm, build:back

feat(front): use log ratio for buildings
  front/src/app/components/map-date-legend/map-date-legend.component.css
  front/src/app/components/map-date-legend/map-date-legend.component.html
  front/src/app/components/map-date-legend/map-date-legend.component.ts
Due: test:front, build:ci_test, build:front

chore(deps): update dependency @types/node to v14.14.39
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency lxml to v4.6.3
  back/Pipfile
Due: build:back

chore(deps): update angular
  front/package.json
  front/yarn.lock
Due: test:front, build:ci_test, build:front

chore(deps): update dependency requests to v2.25.1
  back/Pipfile
Due: build:back

chore(deps): update dependency gevent to v21
  back/Pipfile
Due: build:back

Path conditions:
  test:front: any of: .gitlab-ci.yml, front/**/*
  build:ci_test: any of: .gitlab-ci.yml, front/**/*
  build:tiles-cleaner: any of: .gitlab-ci.yml, tiles-cleaner/**/*
  build:postgis: any of: .gitlab-ci.yml, postgis/**/*
  build:imposm: any of: .gitlab-ci.yml, imposm/**/*
  build:imposm-watcher: any of: .gitlab-ci.yml, imposm-watcher/**/*
  build:back: any of: .gitlab-ci.yml, back/**/*
  build:tiles: any of: .gitlab-ci.yml, tiles/**/*
  build:front: any of: .gitlab-ci.yml, front/**/*
